.list hr {
	width: 10%;
}

.list span {
	display: block;
}

.list p {
	color: black;
	display: block;
}

.list,
.list ul,
.list li {
	list-style: none;
}

.list h2 {
	font-size: 2rem;
	font-weight: 600;
	color: black;
}

.list a h2 {
	@apply mt-2;
}

.list time {
	@apply text-sm;
}

.list time::before {
	content: '> ';
	display: inline;
}
